<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <header  id="header" th:fragment="header">
        <link th:href="@{/static/common/css/bootstrap.css}" rel="stylesheet">
        <link th:href="@{/static/common/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/static/common/css/bootstrap-theme.css}" rel="stylesheet">
        <link th:href="@{/static/common/css/bootstrap-theme-min.css}" rel="stylesheet">
        <link th:href="@{/static/web/css/global.css}" rel="stylesheet">
        <link th:href="@{/static/web/css/reset.css}" rel="stylesheet">
        <link th:href="@{/static/web/css/theme.css}" rel="stylesheet">
        <link th:href="@{/static/web/css/web.css}" rel="stylesheet">
        <link th:href="@{/static/web/css/web_source.css}" rel="stylesheet">

     </header>
</html>
