<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<!-- /global header begin-->
<header id="header" th:fragment="header">
    <link rel="shortcut icon" th:href="@{/web/img/favicon.ico}" type="image/x-icon">
    <link th:href="@{/web/css/reset.css}" rel="stylesheet">
    <link th:href="@{/web/css/theme.css}" rel="stylesheet">
    <link th:href="@{/web/css/global.css}" rel="stylesheet">
    <link th:href="@{/web/css/web.css}" rel="stylesheet">
    <link th:href="@{/web/css/mw_320_768.css}" rel="stylesheet" type="text/css"
          media="screen and (min-width: 320px) and (max-width: 768px)">
    <script th:src="@{/common/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/web/js/common/webutils.js}"></script>
    <script type="text/javascript" th:src="@{/web/js/header/header.js}"></script>
    <script type="text/javascript" th:src="@{/web/js/common/common.js}"></script>

    <div th:with="contextPath=${contextPath }"></div>
    <section class="container">
        <h1 id="logo">
            <a th:href="${contextPath }" th:title="${websitemap.web.company}">
                <img th:src="${logomap.logo.url}" width="100%" th:alt="${websitemap.web.company}" >
            </a>
        </h1>
        <div class="h-r-nsl">
            <ul class="nav">
                <li th:each="indexNavigate:${navigatemap.INDEX}">
                    <a th:href="${indexNavigate.url}">
                        <span th:text="${indexNavigate.name}"></span>
                    </a>

                </li>
            </ul>
            <ul class="h-r-login">
                <li class="undis" id="no-login">
                    <a href="javascript:lrFun(1)" title="登录">
                        <em class="icon18 login-icon">&nbsp;</em><span class="vam ml5">登录</span>
                    </a>
                    |
                    <a href="javascript:lrFun(2)" title="注册">
                        </em><span class="vam ml5">注册</span>
                    </a>
                </li>
                <li class="mr10 undis" id="is-login-one"><a href="/web/usercenter/letter'" title="消息" id="headerMsgCountId">
                    <em class="icon18 news-icon">&nbsp;</em>
                </a><q class="red-point" style="display: none">&nbsp;</q></li>
                <li class="h-r-user undis" id="is-login-two"><a href="/web/usercenter/index" title="">
                    <img src="/web/img/avatar-boy.gif" width="30" height="30" class="vam picImg"
                         alt="">
                    <span class="vam disIb" id="userName"></span>
                </a>
                    <a href="javascript:void(0)" title="退出" onclick="exit();" class="ml5">退出</a></li>
                <!-- /未登录显示第1 li；登录后显示第2，3 li -->
            </ul>
            <aside class="h-r-search">
                <form action="/web/course/showcoulist" method="post">
                    <label class="h-r-s-box">
                        <input type="text" placeholder="输入你想学的课程" name="queryCourse.courseName"  >
                        <button type="submit" class="s-btn">
                            <em class="icon18">&nbsp;</em>
                        </button>
                    </label>
                </form>
            </aside>
        </div>
        <aside class="mw-nav-btn">
            <div class="mw-nav-icon"></div>
        </aside>
        <div class="clear"></div>
    </section>

</header>
<!-- /global header begin-->

<div class="h-mobile-mask"></div>
<div class="head-mobile">
    <div class="head-mobile-box">
        <section class="clearfix">
            <div class="u-face-pic">
                <img src="/web/img/avatar-boy.gif" alt="" class="userImgPhoto">
                <a href="/uc/initUpdateUser/1" title="" class="c-fff">修改头像</a>
            </div>
            <h4 class="hLh30 txtOf">
				<span class="fsize16 c-ccc userNameClass">
					<span class="vam ml5" style="cursor:pointer;" onclick="lrFun(1)">登录</span>
				</span>
            </h4>
            <div class="hLh30">
                <a href="/uc/initUpdateUser/0" title="个人资料设置" class="c-999">个人资料设置</a>
            </div>
            <div class="hLh20 undis" id="mobileExitDiv">
                <a href="javascript:void(0)" title="退出" onclick="exit();" class="c-999">退出</a>
            </div>
        </section>
        <nav class="mw-nav">
            <ul class="clearfix">
                <li th:each="indexNavigate:${navigatemap.INDEX}" >
                    <a th:href="${indexNavigate.url}" th:title="${indexNavigate.name}" th:text="${indexNavigate.name}"></a>
                </li>
            </ul>
        </nav>
        <section class="u-m-dd">
            <ul>
                <li>
                    <span>Wo的学习</span>
                    <ol>
                        <li class="current"><a href="javascript:void(0)"
                                               onclick="mobileHrefCheckLogin('/usercenter/index')" title="">免费课程</a></li>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/web/showcoulist')"
                               title="">选课中心</a></li>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/myFavorites')"
                               title="">Wo的收藏</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>Wo的问答</span>
                    <ol>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/myquestions/list')"
                               title="">Wo的提问</a></li>
                        <li><a href="javascript:void(0)"
                               onclick="mobileHrefCheckLogin('/uc/myrepquestions/list')" title="">Wo的回答</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>Wo的资料</span>
                    <ol>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/initUpdateUser/0')"
                               title="">基本资料</a></li>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/initUpdateUser/1')"
                               title="">个人头像</a></li>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/initUpdateUser/2')"
                               title="">密码设置</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>Wo的消息</span>
                    <ol>
                        <li><a href="javascript:void(0)" onclick="mobileHrefCheckLogin('/uc/letter')" title="">系统消息</a>
                        </li>
                    </ol>
                </li>
            </ul>
        </section>
    </div>
</div>
<script>
    $(function () {
        wmNavFun(); // 手机端导航方法
        goTopFun(); //返回顶部
    })
</script>


</html>
