<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>个人中心</title>
    <div th:include="/common/web_header::header"></div>
</head>
<body>
    <div class="in-wrap">
        <div class="bg-fa of">
            <!-- /个人中心 主体 开始 -->
            <section class="container">
                <div class="u-body mt40">
                    <!-- 左侧，开始 -->
                    <menu  class="col-3 fl uMenu" th:include="/web/usercenter/usercenter_layout::layout"></menu>
                    <!-- 左侧，结束 -->

                    <article class="col-7 fl">
                        <div class="u-r-cont">
                            <section>
                                <div>
                                    <section class="c-infor-tabTitle c-tab-title">
                                        <a href="javascript: void(0)" title="Wo的课程" style="cursor: default;">免费课程</a>
                                        <a href="/usercenter/freeCourseList" title="免费课程" class="current">免费</a>
                                    </section>
                                </div>
                                <div class="mt40">
                                    <th:block th:if="${courseList==null and courseList.size()<=0 }">
                                        <!-- /无数据提示 开始-->
                                        <section class="no-data-wrap">
                                            <em class="icon30 no-data-ico">&nbsp;</em>
                                            <span class="c-666 fsize14 ml10 vam">暂无免费课程！</span>
                                        </section>
                                        <!-- /无数据提示 结束-->
                                    </th:block>
                                    <th:block th:if="${courseList!=null}">
                                        <div class="u-course-list">
                                            <article class="comm-course-list">
                                                <ul class="clearfix">
                                                    <li  th:each="course:${courseList}">
                                                        <div class="cc-l-wrap">
                                                            <section class="course-img">
                                                                <th:block th:if="${course.logo !=null and course.logo !=''}">
                                                                    <img th:src="${course.logo}" class="img-responsive" th:alt="${course.courseName}" />
                                                                </th:block>
                                                                <th:block th:if="${course.logo eq null}">
                                                                    <img src="/static/inxweb/img/default-img.gif" class="img-responsive" th:alt="${course.courseName}" />
                                                                </th:block>
                                                                <div class="cc-mask">
                                                                    <a th:href="'/web/usercenter/play/'+${course.courseId}" title="" class="comm-btn c-btn-1">继续学习</a>
                                                                </div>
                                                            </section>
                                                            <h3 class="hLh30 txtOf mt10">
                                                                <a th:href="'/web/usercenter/play/'+${course.courseId}" th:title="${course.courseName}" class="course-title fsize18 c-333" th:text="${course.courseName}"></a>
                                                            </h3>
                                                            <section class="mt10 of">
                                                                <div class="time-bar-wrap">
                                                                    <div class="lev-num-wrap" th:title="'已学'+${course.studyPercent}+'%'">
                                                                        <th:block th:if="${course.studyPercent>='100'}">
                                                                            <aside class='lev-num-bar bg-orange' th:style="'width:'+${course.studyPercent}+'%;'"></aside>
                                                                        </th:block>
                                                                        <th:block th:unless="${course.studyPercent>='100'}">
                                                                            <aside class='lev-num-bar bg-green' th:style="'width:'+${course.studyPercent}+'%;'"></aside>
                                                                        </th:block>
                                                                        <span class="lev-num">
                                                                            <big th:text="${course.studyPercent}+'%'"></big>
                                                                            /
                                                                            <small>100%</small>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </article>
                                            <!-- 公共分页 开始 -->
                                            <div>
                                                <form action="/web/usercenter/index" method="post" id="searchForm">
                                                    <input type="hidden" name="page.currentPage" id="pageCurrentPage" value="1">
                                                </form>
                                                <script type="text/javascript" th:src="@{/web/js/common/page.js}" ></script>
                                                <div class="paging" th:if="${page != null  and page.totalResultSize>0}">
                                                    <a href="javascript:goPage(1);" title="">首</a>
                                                    <a id="backpage" th:if="${page.first}" class="undisable" href="javascript:void(0)" title="">&lt;</a>
                                                    <a id="backpage" th:if="${!page.first}" th:href="'javascript:goPage('+${page.currentPage-1 }+');'" title="">&lt;</a>
                                                    <a id="nextpage" th:if="${page.last}" href="javascript:void(0)" title="" class="undisable">&gt;</a>
                                                    <a id="nextpage" th:if="${!page.last}" th:href="'javascript:goPage('+${page.currentPage+1}+');'" title="">&gt;</a>
                                                    <a th:href="'javascript:goPage('+${page.totalPageSize}+');'" title="">末</a>
                                                    <div class="clear"></div>
                                                </div>
                                                <script type="text/javascript" th:inline="javascript" th:with="totalPageSize=${page.totalPageSize }">
                                                    /*<![CDATA[*/
                                                    var totalPageSize = [[${totalPageSize}]];
                                                    var currentPage = [[${page.currentPage-1}]]<1 ? 1 :[[${totalPageSize}]];
                                                    var totalPage = [[${totalPageSize}]];
                                                    showPageNumber();
                                                    /*]]>*/
                                                </script>
                                            </div>
                                            <!-- 公共分页 结束 -->
                                        </div>
                                    </th:block>
                                </div>
                            </section>
                            <!-- /我的课程 -->
                        </div>
                    </article>
                </div>
            </section>
            <!-- /个人中心 主体 结束 -->
        </div>
    </div>
</body>
</html>