<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>我的消息</title>
	<div th:include="/common/web_header::header"></div>
<script type="text/javascript">
function delULetter(id){//删除站内信
	$.ajax({
		type:"POST",
		dataType:"json",
		url:"/web/usercenter/ajax/delLetterInbox",
		data:{"msgReceive.id":id},
		cache:true,
		async:false,
		success:function(result){
			if(result.message=="success"){ 
				$("#del"+id).remove();//
				dialog('提示','删除成功',0,'/uc/letter');
			}
		}
	});
}
</script>
</head>
<body>


<div class="in-wrap">
	<div class="bg-fa of">
		<!-- /个人中心 主体 开始 -->
		<section class="container">
			<div class="u-body mt40">
				<!-- 左侧，开始 -->
				<menu  class="col-3 fl uMenu" th:include="/web/usercenter/usercenter_layout::layout"></menu>
				<!-- 左侧，结束 -->
<article class="col-7 fl">
	<div class="u-r-cont">
		<section>
			<div>
				<section class="c-infor-tabTitle c-tab-title">
					<a href="javascript: void(0)" title="Wo的消息" style="cursor: default;">Wo的消息</a>
					<a href="javascript: void(0)" title="系统消息" class="current">消息列表</a>
				</section>
			</div>
			<div class="mt40">
					<!-- /无数据提示 开始-->
					<section th:if="${queryLetterList==null}" class="no-data-wrap">
						<em class="icon30 no-data-ico">&nbsp;</em>
						<span class="c-666 fsize14 ml10 vam">您还没有收到消息哦！</span>
					</section>
					<!-- /无数据提示 结束-->
					<div class="u-sys-news" th:if="${queryLetterList!=null}">
							<dl th:id="'del'+${qltl.id }" th:each="qltl:${queryLetterList}">
								<dt>
									<section class="tar">
										<p class="hLh30"><b class="fsize14 f-fA c-red">系统消息</b> </p>
										<p class="hLh20">
											<span class="f-fA c-666" th:text="${#dates.format(qltl.addTime, 'MM月dd日 hh:mm')}" />
										</p>
										<p class="hLh20"><span class="f-fA c-999" th:text="${#dates.format(qltl.addTime, 'yyyy年')}" /></p>
									</section>
								</dt>
								<dd>
									<section class="mt10">
										<div style="line-height: 200%;">
											<p><span class="c-666 f-fA" th:text="${qltl.content }"></span></p>
										</div>
										<div class="mt10 tar">
											<a href="javascript:void(0)" th:onclick="'delULetter('+${qltl.id }+')'"  title="" class="comm-btn c-btn-6">删 除</a>
										</div>
									</section>
								</dd>
							</dl>
					</div>
				<!-- 公共分页 开始 -->
				<script type="text/javascript" th:src="@{/web/js/common/page.js}" ></script>
				<div class="paging" th:if="${page != null  and page.totalResultSize>0}">
					<a href="javascript:goPage(1);" title="">首</a>
					<a id="backpage" th:if="${page.first}" class="undisable" href="javascript:void(0)" title="">&lt;</a>
					<a id="backpage" th:if="${!page.first}" th:href="'javascript:goPage('+${page.currentPage-1 }+');'" title="">&lt;</a>
					<a id="nextpage" th:if="${page.last}" href="javascript:void(0)" title="" class="undisable">&gt;</a>
					<a id="nextpage" th:if="${!page.last}" th:href="'javascript:goPage('+${page.currentPage+1}+');'" title="">&gt;</a>
					<a th:href="'javascript:goPage('+${page.totalPageSize}+');'" title="">末</a>
					<div class="clear"></div>
				</div>
				<script type="text/javascript" th:inline="javascript" th:with="totalPageSize=${page.totalPageSize }">
                    /*<![CDATA[*/
                    var totalPageSize = [[${totalPageSize}]];
                    var currentPage = [[${page.currentPage-1}]]<1 ? 1 :[[${totalPageSize}]];
                    var totalPage = [[${totalPageSize}]];
                    showPageNumber();
                    /*]]>*/
				</script>
				<!-- 公共分页 结束 -->
				<form action="web/usercenter/letter"name="searchForm" id="searchForm" method="post">
			 		<input id="pageCurrentPage" type="hidden" name="page.currentPage" th:value="${page.currentPage}"/>
			 	</form>
			</div>
		</section>
		<!-- /Wo的消息 -->
	</div>
</article>
<!-- /右侧内容区 结束 -->
			</div>
		</section>
	</div>
</div>
</body>
</html>

