<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/common/css/mw_320_768.css}" rel="stylesheet">
</head>

<menu th:fragment="layout">
    <dl>
        <dt>
            <section class="of">
                <div class="u-face-pic">
                    <img src="/web/img/avatar-boy.gif" alt="" class="userImgPhoto">
                    <a href="/web/usercenter/initUpdateUser/1" title="" class="c-fff">修改头像</a>
                </div>
                <h4 class="mt10"><span class="fsize16 c-666 userNameClass"><!-- 用户名 --></span></h4>
                <div class="hLh30 mt10">
                    <a href="/web/usercenter/initUpdateUser/0" title="" class="c-blue">个人资料设置</a>
                </div>
                <div class="clear"></div>
            </section><!-- /u-face-attr -->
            <!-- <section class="mt20">
                <section class="stud-time-wrap stud-time">
                    <tt class="f-fM c-999">已学习：</tt>
                    <big>189</big>
                    <small>小时</small>
                    <big>568</big>
                    <small>分</small>
                </section>
            </section> -->
        </dt>
        <dd class="u-m-dd">
            <ul>
                <li>
                    <span>我的学习</span>
                    <ol>
                        <li><a href="/web/usercenter/index" title="">免费课程</a></li>
                        <li><a href="/web/course/showcoulist" title="" target="view_window">选课中心</a></li>
                        <li><a href="/web/usercenter/myFavorites" title="">我的收藏</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>我的问答</span>
                    <ol>
                        <li><a href="/web/myquestion/list" title="">我的提问</a></li>
                        <li><a href="/web/myrepquestions/list" title="">我的回答</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>我的资料</span>
                    <ol>
                        <li><a href="/web/usercenter/initUpdateUser/0" title="">基本资料</a></li>
                        <li><a href="/web/usercenter/initUpdateUser/1" title="">个人头像</a></li>
                        <li><a href="/web/usercenter/initUpdateUser/2" title="">密码设置</a></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <span>我的消息</span>
                    <ol>
                        <li><a href="/web/usercenter/letter" title="">系统消息</a></li>
                        <!-- <li><a href="" title="">其它消息</a></li> -->
                    </ol>
                </li>
            </ul>
        </dd>
    </dl>
</menu>